.bg-custom-color {
    background-color: rgb(248, 247, 244) !important;
    padding-bottom: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
}


/* .sticky{
    position: sticky;
    top: 0;
    z-index: 9;
} */

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 16px;

}

.menu-form {
    padding-top: 16px;
    padding-right: 16px;
}

nav ul li {
    margin-right: 16px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.dropdown-item {
    font-size: 15px;
}

.dropdown-item p {
    font-size: 12px;
    color: #808080;
}

.img-container {
    justify-content: center;
    flex-grow: 1;
    margin-left: 24px;
}

.img-container-small {
    margin-right: 24px;
}

@media (max-width: 991.98px) {
    .img-container-small {
        display: none !important;
        /* Hide the img-container-small on screens below 992px */
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .img-container-small {
        display: flex !important;
        /* Show the img-container-small on screens between 992px and 1399px */
    }
}

@media (min-width: 1400px) {
    .img-container-small {
        display: none !important;
        /* Hide the img-container-small on screens above 1400px */
    }
}

@media (max-width: 1399px) {
    .img-container {
        display: none !important;
        /* Hide the img-container on screens under 1400px */
    }
}

@media (max-width: 991.98px) {

    .search-icon-link,
    .button {
        display: none;
        /* Hide search icon and buttons for login/signup on smaller screens */
    }
}

@media (min-width: 1094px) {
    .search-icon-link {
        display: none !important;
    }
}

@media (max-width: 1095px) {
    .search-bar {
        display: none !important
    }
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar {
    border-radius: 9999999px;
    padding: 0 24px 0 48px;
    width: 100%;
    height: 50px;
    line-height: 1;
    flex-grow: 1;
    background: url('assets/img/search-icon.png') no-repeat left 16px center;
    background-size: 20px;
    background-color: white;
    border-color: transparent;
}

.small-form-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Align items to the rightmost side */
    position: absolute;
    /* Position absolutely relative to the viewport */
    top: 0;
    right: 0;
    margin-top: 16px;
    /* Adjust margin as needed */
    margin-right: 10px;
    /* Adjust margin as needed */
}

@media (min-width: 992px) {
    .small-form-container {
        display: none;
        /* Hide on larger screens */
    }
}

.login-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1rem;
    width: 100%;
}

.small-signup-btn {
    background-color: #0d0c22;
    color: #fff;
    border-radius: 25px;
    padding: 0 25px;
    width: 80%;
    transition: background-color 0.3s ease;
    align-items: end;
}

.signup-btn {
    background-color: #0d0c22;
    color: #fff;
    border-radius: 25px;
    padding: 0 15px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.signup-btn:hover {
    background-color: #808080;
    color: white;
}

.btn {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
}

.button {
    display: flex;
    gap: 8px;
}

.form {
    display: flex;
    align-items: center;
    gap: 4px;
}

.home-container {
    padding-top: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badge-container {
    background-color: #ffda79;
    letter-spacing: -0.2px;
    line-height: 1;
    padding: 10px 16px;
    align-items: center;
    margin: auto;
    width: fit-content;
    letter-spacing: -0.2px;
    display: flex;
    border-radius: 1e+07px;
    font-family: "Source Serif 4", Georgia, serif;
    font-size: 16px;
    font-weight: 600;
}

.hero {
    text-align: center;
    position: relative;
    padding-top: 80px;
    width: 100%;
    height: 52rem;
    
    background-color: rgb(248, 247, 244);
}


h1 {
    display: block;
    margin-inline-end: 0px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.hero-heading {
    max-width: 340px;
    margin: 40px auto 24px;
    font-family: "Source Serif 4", Georgia, serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 56px;
}

@media (min-width: 768px) {
    .hero-heading {
        max-width: 870px;
        font-size: 72px;
        line-height: 76px;
    }
}


.home-letter {
    max-width: 382px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    margin: auto;
    /* Center the text horizontally */
}

@media(min-width: 768px) {
    .home-letter {
        max-width: 870px;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        font-weight: 500;
    }
}

.getstart-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0c22;
    color: white;
    text-decoration: none;
    height: 56px;
    padding: 24px;
    font-size: 14px;
    border-radius: 999px;
    line-height: 1;
    margin-top: 32px;
}



.card-container {
    padding-top: 72px;
    overflow: hidden;
    margin: 0;
    display: flex;
    padding-right: 20px;
}

.card {
    position: relative;
    width: 273px;
    height: 340px;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    box-sizing: border-box;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: white;
    z-index: 2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.card-title h4 {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: start !important;
}

.tag-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    background-color: transparent;
    border: 1px solid #dadada;
    font-size: 11px;
    padding: 5px 8px;
    border-radius: 50px;
    font-weight: bold;
}

.card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    /* Gradient from dark to transparent */
    z-index: 1;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.scroll {
    display: inline-flex;
    gap: 20px;
    padding: 0 10px;
    white-space: no;
    padding-bottom: 20px;
    position: relative;
    animation: slide 50s linear infinite;
    white-space: nowrap;
    flex: 1;
}

@media (max-width: 768px) {
    .card {
        width: 218px;
        height: 272px;
    }

    .scroll {
        gap: 15px;
    }

    .tag-list {
        padding: 9 24px;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.home-feed {
    margin-top: 14rem;
    text-align: center;
    margin-bottom: 150px;
}

.home-feed-heading {
    display: block;
    margin-bottom: 48px;
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
    text-align: center;
    padding: 0 24px;
    

}

h2 {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
    .home-feed-heading {
        font-size: 48px;
        line-height: 56px;
        padding: 0 32px;
    }
}

.thumbnail-img {
    border-radius: 8px;
    height: auto;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 417 / 312;
    /* Maintain the aspect ratio */
    display: block;
    /* Make the image a block element */
    margin: 0 auto;
    /* Center the image horizontally within the container */
}

.display_name {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -ms-flex: 1;
    flex: 1;
    color: #0d0c22;
}

.display-picture {
    width: 20px;
    border-radius: 999px;
}

.displayNameAndPicture {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    display: flex;
    align-items: center;
}

.thumbnail-badge {
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    padding: 4px 5px;
    border-radius: 3px;
    background: rgb(204, 204, 204);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.thumbnail-badge:hover {
    background-color: #000;
    color: white;
}

.thumbnail-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.interact {
    float: right;
    margin-left: auto;
    align-items: center;
}

.heart-icon {
    color: #7e7e7e;
    transition: color 0.3s ease;
}

.heart-icon:hover {
    color: red;
}

.likes-counter {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -ms-flex: 1;
    flex: 1;
    color: #7e7e7e;
}

.eye-icon {
    color: #7e7e7e;
}

.views-counter {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -ms-flex: 1;
    flex: 1;
    color: #7e7e7e;
}


  .thumbnail-overlay {
    position: relative;
    display: inline-block;
  }
  
  .thumbnail-img {
    width: 100%;
    display: block;
  }
  
  .overlay-content {
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* Gradient overlay */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 0 8px 8px;
  }
  
  .thumbnail-overlay:hover .overlay-content {
    opacity: 1;
  }
  
  .thumbnail-name {
    font-size: 1.1 rem;
    margin-right: auto; 
    font-weight: 500;
  }
  
  .overlay-buttons {
    display: flex;
    gap: 10px; 
    align-items: center; 
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: white; 
    font-size: 1.5em; 
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .bookmark-icon{
    color: grey;
    transition: color 0.3s ease;
  }

  .bookmark-icon:hover{
    color: black;
  }
.custom-container {
    padding: 0 72px;
}

@media (min-width: 765px) and (max-width: 1190px) {
    .custom-container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 764px) {
    .custom-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.browse-button {
    background-color: #ffffff;
    color: #000000;
    border-radius: 25px;
    padding: 0 15px;
    width: 260px;
    height: 52px;
    font-weight: 500;
}

.main-footer{
    text-align: center;
    background-color: #ffda79;
    padding: 120px 0;
    display: block;
}

.main-footer-content{
    display: grid;
    gap: 24px;
    padding: 0 24px;
}

@media (min-width: 768px){
    .main-footer-content{
        padding: 0 32px;
    }
}

.footer-heading{
    max-width: 680px;
    margin: auto;
}

.footer-type{
    font-family: "Source Serif 4", Georgia, serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 48px;
}

@media (min-width :768px){
    .footer-type{
        font-size: 64px;
        line-height: 72px;
    }
}

.footer-copy{
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 36px;
}

.join-dribbble{
    color: #000;
}

.footer-buttons{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding: 16px 0px 24px;
    gap: 16px;

}

.footer-btn{
    background-color: #0d0c22;
    color: #fff;
    border-radius: 99px;
    padding: 15px 15px;
    width: 170px;
    text-decoration: none;
}

@media (max-width: 400px){
    .footer-buttons{
        grid-auto-flow: row;
        justify-items: center;
    }
}

.white{
    background-color: white;
    color: #000;
}