.bg-custom-color {
    background-color: white !important
}

.search-bar {
    border-radius: 9999999px;
    padding: 0 24px 0 48px;
    width: 100%;
    height: 50px;
    line-height: 1;
    flex-grow: 1;
}

.login-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1rem;
}

.signup-btn {
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 0 15px;
}

.logo {
    margin: auto; /* Center the logo */
    display: block; /* Ensures margin: auto works properly */
}

.home-container{
    margin-top: 120px;
}
.badge-container{
    background-color: #ffda79; 
    letter-spacing: -0.2px;
    line-height: 1;
    padding: 10px 16px;
    align-items: center; 
    margin: auto; 
    width: fit-content; 
    letter-spacing: -0.2px;
    display: flex; 
    border-radius: 1e+07px;
    font-family: "Source Serif 4", Georgia, serif;
    font-size: 16px;
    font-weight: 600;
}
.hero-heading {
    text-align: center;
    font-size: 72px;
    line-height: 76px;
    margin: 40px auto 24px;
    max-width: 870px;
    font-family: "Source Serif 4", Georgia, serif;
    font-weight: 400;
    

    /* Media query for smaller screens */
    @media (max-width: 767px) {
        max-width: 340px;
        font-size: 36px;
    }
}