body{
    background-color: rgba(255, 218, 121, 1) ;
}

.bg-custom-color {
    background-color: rgba(255, 218, 121, 0.2)  !important
}

.search-bar {
    border-radius: 9999999px;
    padding: 0 24px 0 48px;
    width: 100%;
    height: 50px;
    line-height: 1;
    flex-grow: 1;
}

.login-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1rem;
}

.signup-btn {
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 0 15px;
}

.logo {
    margin: auto; /* Center the logo */
    display: block; /* Ensures margin: auto works properly */
}
